logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

# sbt specific
.cache/
.lib/
lib_managed/
src_managed/

# submission
submission/
project/

# mac
.DS_Store